Aim:
format the data and merge them in one table

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [90]:
HUN = pd.read_csv('HU_Vker1809-2110.csv')
Com = pd.read_csv('Com_Vker2110.csv')
Cen = pd.read_csv('Cen_Vker1809-2110.csv')

In [48]:
HUN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 9 columns):
id             189 non-null object
sqm            185 non-null float64
room           185 non-null float64
type           185 non-null object
price          185 non-null float64
description    185 non-null object
agency         150 non-null object
url            189 non-null object
date           189 non-null object
dtypes: float64(3), object(6)
memory usage: 13.4+ KB

In [49]:
HUN.isnull().sum()

id              0
sqm             4
room            4
type            4
price           4
description     4
agency         39
url             0
date            0
dtype: int64

In [50]:
HUN.loc[HUN['sqm'].isnull()]

,id,sqm,room,type,price,description,agency,url,date
58,javascript:;,NaN,NaN,NaN,NaN,NaN,NaN,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24
59,javascript:;,NaN,NaN,NaN,NaN,NaN,NaN,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24
60,javascript:;,NaN,NaN,NaN,NaN,NaN,NaN,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24
61,javascript:;,NaN,NaN,NaN,NaN,NaN,NaN,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24

In [51]:
for i in HUN.loc[HUN['sqm'].isnull()].index:
    print(i,HUN.at[i,'url'])
# all missing rows refer to the same adv.

58 https://ingatlanok.hu/elado/lakas/budapest_v_ker/39-millio-ft;32-negyzetmeter;1-szoba;tegla-epitesu/9737619
59 https://ingatlanok.hu/elado/lakas/budapest_v_ker/39-millio-ft;32-negyzetmeter;1-szoba;tegla-epitesu/9737619
60 https://ingatlanok.hu/elado/lakas/budapest_v_ker/39-millio-ft;32-negyzetmeter;1-szoba;tegla-epitesu/9737619
61 https://ingatlanok.hu/elado/lakas/budapest_v_ker/39-millio-ft;32-negyzetmeter;1-szoba;tegla-epitesu/9737619

In [91]:
#manual retrival of the data
cols = ['id','sqm','room','price','description', 'agency']
v58 = ['9737619', 32.0, 1,39900000, '3 az 1-ben! Tökéletes befektetés, ahol a modern stílus, és a belvárosi életérzés találkozik. A NYUGATI TÉRHEZ KÖZEL, FELÚJÍTOTT, EMELETI LAKÁSOK ELADÓK!!! AZ V. KERÜLETBEN, LIPÓTVÁROS kedvelt részén, kerültek kialakításra egy 30 m2-s, amerikai konyhás nappalis + fél szobás, egy 32 m2-s amerikai konyhás nappali + 6 m2 galériás és egy 20 m2-s amerikai konyhás nappalis + fél szobás, apartmanok.','CDC Ingatlan IV.Ker. Szita Ingatlan Kft.']
for i,n in zip(cols,v58):
    HUN.loc[58,i] = n

In [92]:
#delete the extra rows
HUN.drop(HUN.loc[HUN['sqm'].isnull()].index, axis = 0, inplace= True)
HUN.shape

(186, 9)

In [81]:
HUN.loc[58,:]

id                                                       9737619
sqm                                                           32
room                                                           1
type                                                         NaN
price                                                   3.99e+07
description    3 az 1-ben! Tökéletes befektetés, ahol a moder...
agency                  CDC Ingatlan IV.Ker. Szita Ingatlan Kft.
url            https://ingatlanok.hu/elado/lakas/budapest_v_k...
date                                                  2019-09-24
Name: 58, dtype: object

In [93]:
#create 'price_sqm' column
HUN['price_sqm'] = HUN['price'] / HUN['sqm']
HUN['price_sqm'] = HUN['price_sqm'].astype(int)
HUN['price'] = HUN['price'] / 1000000.0

In [95]:
HUN.head(3)

,id,sqm,room,type,price,description,agency,url,date,price_sqm
0,9721878,32.0,1.0,Tégla,39.9,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-18,1246875
1,9729036,30.0,1.0,Tégla,37.5,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-18,1250000
2,9721669,32.0,1.0,Tégla,39.9,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",Cdci Teréz krt-i iroda,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-18,1246875

In [7]:
Com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 11 columns):
id             27 non-null int64
sqm            27 non-null int64
room           27 non-null int64
type           0 non-null float64
price          27 non-null float64
price_sqm      27 non-null int64
description    0 non-null float64
agency         1 non-null object
url            27 non-null object
region         27 non-null object
date           27 non-null object
dtypes: float64(3), int64(4), object(4)
memory usage: 2.4+ KB

In [6]:
Com.head(3)

,id,sqm,room,type,price,price_sqm,description,agency,url,region,date
0,30477505,27,2,NaN,22.7,840741,NaN,Saját hirdetés,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Lipótváros, V. kerület",2019-10-21
1,30301385,27,1,NaN,22.8,844444,NaN,NaN,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Szent István körút, V. kerület",2019-10-21
2,30407710,26,1,NaN,26.4,1015385,NaN,NaN,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Lipótváros, V. kerület",2019-10-21

In [96]:
Com.isnull().sum()

id              0
sqm             0
room            0
type           27
price           0
price_sqm       0
description    27
agency         26
url             0
region          0
date            0
dtype: int64

In [97]:
Cen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 10 columns):
id             45 non-null int64
sqm            45 non-null int64
room           45 non-null object
type           45 non-null object
price          45 non-null float64
description    45 non-null object
agency         0 non-null float64
url            45 non-null object
region         45 non-null object
date           45 non-null object
dtypes: float64(2), int64(2), object(6)
memory usage: 3.6+ KB

In [98]:
Cen.head(3)

,id,sqm,room,type,price,description,agency,url,region,date
0,13540521,31,1,Tégla,36.9,Rövidtávú kiadásra (airbnb) tökéletes! Legjobb...,NaN,https://www.oc.hu/ingatlanok/H393835?c=1b06e8e0,H393835,2019-09-18
1,12625576,33,1,Tégla,44.3,Garzonlakás a Váci utcában\nFelújítandó egy sz...,NaN,https://www.oc.hu/ingatlanok/H387534?c=1b06e8e0,H387534,2019-09-18
2,13243082,30,1 + 1 félszoba,Tégla,37.5,FELÚJÍTOTT LAKÁS A SZENT ISTVÁN KÖRÚTON\nEladó...,NaN,https://www.oc.hu/ingatlanok/H391785?c=1b06e8e0,H391785,2019-09-18

In [99]:
Cen['price_sqm'] = Cen['price']*1000000 / Cen['sqm']
Cen['price_sqm'] = Cen['price_sqm'].astype(int)

In [100]:
Cen.head(3)

,id,sqm,room,type,price,description,agency,url,region,date,price_sqm
0,13540521,31,1,Tégla,36.9,Rövidtávú kiadásra (airbnb) tökéletes! Legjobb...,NaN,https://www.oc.hu/ingatlanok/H393835?c=1b06e8e0,H393835,2019-09-18,1190322
1,12625576,33,1,Tégla,44.3,Garzonlakás a Váci utcában\nFelújítandó egy sz...,NaN,https://www.oc.hu/ingatlanok/H387534?c=1b06e8e0,H387534,2019-09-18,1342424
2,13243082,30,1 + 1 félszoba,Tégla,37.5,FELÚJÍTOTT LAKÁS A SZENT ISTVÁN KÖRÚTON\nEladó...,NaN,https://www.oc.hu/ingatlanok/H391785?c=1b06e8e0,H391785,2019-09-18,1250000

In [116]:
VkerDB = pd.concat([HUN,Cen,Com], axis = 0, ignore_index = True)
VkerDB.shape

/home/trismegistos/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(258, 11)

In [102]:
VkerDB.head(3)

,agency,date,description,id,price,price_sqm,region,room,sqm,type,url
0,CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,2019-09-18,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9721878,39.9,1246875,NaN,1,32.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...
1,CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,2019-09-18,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9729036,37.5,1250000,NaN,1,30.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...
2,Cdci Teréz krt-i iroda,2019-09-18,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9721669,39.9,1246875,NaN,1,32.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...

In [104]:
# cleaning-up 'room'
VkerDB['room'].value_counts()

1.0               191
1                  38
2.0                16
1 + 1 félszoba      6
0.0                 6
2                   1
Name: room, dtype: int64

In [117]:
VkerDB.loc[VkerDB['room'] == '1 + 1 félszoba', 'room'] = 1.5
VkerDB['room'] = VkerDB['room'].astype(float)
VkerDB.loc[VkerDB['room'] == 0.0, 'room'] = 1.0

In [118]:
VkerDB['room'].value_counts()

1.0    235
2.0     17
1.5      6
Name: room, dtype: int64

In [119]:
#cleaning-up 'type'
VkerDB['type'].value_counts()

Tégla    207
Nincs     23
Name: type, dtype: int64

In [120]:
#not informative
VkerDB.drop(['type'], axis = 1, inplace= True)

In [121]:
#cleaning-up agency
VkerDB['agency'].value_counts()

CDC Ingatlan IV.Ker. Szita Ingatlan Kft.    38
CDC Báthory                                 29
CDC Bokréta                                 20
Cdci Teréz krt-i iroda                      18
Gold House Ingatlaniroda                    12
Tecnocasa                                   11
GREAT HOME                                   6
GDN Ingatlaniroda.                           6
OTP Ingatlanpont Szépvölgyi út               6
Homexpress Ingatlaniroda                     5
Saját hirdetés                               1
Name: agency, dtype: int64

In [122]:
VkerDB['agency'].isnull().sum()

106

In [124]:
VkerDB.shape

(258, 10)

In [125]:
VkerDB.isnull().sum()

agency         106
date             0
description     27
id               0
price            0
price_sqm        0
region         186
room             0
sqm              0
url              0
dtype: int64

In [133]:
VkerDB = VkerDB[['id', 'date', 'price', 'price_sqm', 'room', 'sqm','region','description','agency', 'url']]

In [134]:
VkerDB.to_csv('VkerDB.csv', index=False, index_label=None)