Aim:
format the data and merge them in one table

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [46]:
HUN = pd.read_csv('HU_Vker.csv')
Com = pd.read_csv('Com_Vker.csv')
Cen = pd.read_csv('Cen_Vker.csv')

#### clean up the source data

In [43]:
HUN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 10 columns):
id             971 non-null object
sqm            867 non-null float64
room           867 non-null float64
type           867 non-null object
price          867 non-null float64
description    867 non-null object
agency         719 non-null object
url            971 non-null object
date           971 non-null object
source         971 non-null object
dtypes: float64(3), object(7)
memory usage: 75.9+ KB

In [44]:
HUN.isnull().sum()

id               0
sqm            104
room           104
type           104
price          104
description    104
agency         252
url              0
date             0
source           0
dtype: int64

In [32]:
#HUN.loc[HUN['sqm'].isnull()]

In [48]:
#delete the extra rows
HUN.drop(HUN.loc[HUN['sqm'].isnull()].index, axis = 0, inplace= True)
HUN.shape

(867, 10)

In [51]:
#create 'price_sqm' column
HUN['price_sqm'] = HUN['price'] / HUN['sqm']
HUN['price_sqm'] = HUN['price_sqm'].astype(int)
HUN['price'] = HUN['price'] / 1000000.0

In [52]:
HUN.head(3)

,id,sqm,room,type,price,description,agency,url,date,source,price_sqm
0,9737619,32.0,1.0,Tégla,39.9,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24,hu,1246875
1,9737341,30.0,1.0,Tégla,37.5,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24,hu,1250000
2,9729036,30.0,1.0,Tégla,37.5,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,https://ingatlanok.hu/elado/lakas/budapest_v_k...,2019-09-24,hu,1250000

In [53]:
Com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
id             907 non-null int64
sqm            907 non-null int64
room           907 non-null int64
type           0 non-null float64
price          907 non-null float64
price_sqm      907 non-null int64
description    0 non-null float64
agency         39 non-null object
url            907 non-null object
region         907 non-null object
date           907 non-null object
source         907 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB

In [54]:
Com.isnull().sum()

id               0
sqm              0
room             0
type           907
price            0
price_sqm        0
description    907
agency         868
url              0
region           0
date             0
source           0
dtype: int64

In [55]:
Com.head(3)

,id,sqm,room,type,price,price_sqm,description,agency,url,region,date,source
0,30477505,27,2,NaN,22.7,840741,NaN,Saját hirdetés,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Lipótváros, V. kerület",2019-10-21,com
1,30301385,27,1,NaN,22.8,844444,NaN,NaN,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Szent István körút, V. kerület",2019-10-21,com
2,30407710,26,1,NaN,26.4,1015385,NaN,NaN,https://ingatlan.com/v-ker/elado+lakas/tegla-e...,"Lipótváros, V. kerület",2019-10-21,com

In [56]:
Cen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 11 columns):
id             160 non-null int64
sqm            160 non-null int64
room           160 non-null object
type           160 non-null object
price          160 non-null float64
description    160 non-null object
agency         0 non-null float64
url            160 non-null object
region         160 non-null object
date           160 non-null object
source         160 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 13.8+ KB

In [57]:
Cen.isnull().sum()

id               0
sqm              0
room             0
type             0
price            0
description      0
agency         160
url              0
region           0
date             0
source           0
dtype: int64

In [58]:
Cen.head(3)

,id,sqm,room,type,price,description,agency,url,region,date,source
0,13540521,31,1,Tégla,36.9,Rövidtávú kiadásra (airbnb) tökéletes! Legjobb...,NaN,https://www.oc.hu/ingatlanok/H393835?c=1b06e8e0,H393835,2019-09-18,centrum
1,12625576,33,1,Tégla,44.3,Garzonlakás a Váci utcában\nFelújítandó egy sz...,NaN,https://www.oc.hu/ingatlanok/H387534?c=1b06e8e0,H387534,2019-09-18,centrum
2,13243082,30,1 + 1 félszoba,Tégla,37.5,FELÚJÍTOTT LAKÁS A SZENT ISTVÁN KÖRÚTON\nEladó...,NaN,https://www.oc.hu/ingatlanok/H391785?c=1b06e8e0,H391785,2019-09-18,centrum

In [59]:
Cen['price_sqm'] = Cen['price']*1000000 / Cen['sqm']
Cen['price_sqm'] = Cen['price_sqm'].astype(int)

#### create one DB

In [61]:
VkerDB = pd.concat([HUN,Cen,Com], axis = 0, sort = True, ignore_index = True)
VkerDB.shape

(1934, 12)

In [62]:
VkerDB.head(3)

,agency,date,description,id,price,price_sqm,region,room,source,sqm,type,url
0,CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,2019-09-24,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9737619,39.9,1246875,NaN,1,hu,32.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...
1,CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,2019-09-24,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9737341,37.5,1250000,NaN,1,hu,30.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...
2,CDC Ingatlan IV.Ker. Szita Ingatlan Kft.,2019-09-24,"3 az 1-ben! Tökéletes befektetés, ahol a moder...",9729036,37.5,1250000,NaN,1,hu,30.0,Tégla,https://ingatlanok.hu/elado/lakas/budapest_v_k...

In [63]:
# cleaning-up 'room'
VkerDB['room'].value_counts()

1.0               1604
1                  121
2.0                113
0.0                 57
1 + 1 félszoba      38
2                    1
Name: room, dtype: int64

In [64]:
VkerDB.loc[VkerDB['room'] == '1 + 1 félszoba', 'room'] = 1.5
VkerDB['room'] = VkerDB['room'].astype(float)
VkerDB.loc[VkerDB['room'] == 0.0, 'room'] = 1.0

In [65]:
VkerDB['room'].value_counts()

1.0    1782
2.0     114
1.5      38
Name: room, dtype: int64

In [66]:
#cleaning-up 'type'
#VkerDB['type'].value_counts()

Tégla    987
Nincs     40
Name: type, dtype: int64

In [69]:
#Type is not informative, delete from data extraction
#VkerDB.drop(['type'], axis = 1, inplace= True)

In [70]:
#cleaning-up agency
VkerDB['agency'].value_counts()

CDC Ingatlan IV.Ker. Szita Ingatlan Kft.     88
Homexpress Ingatlaniroda                     63
Gold House Ingatlaniroda                     59
Cdci Teréz krt-i iroda                       50
Duna House - XII. ker, Városmajor utca u.    48
GREAT HOME                                   48
Tecnocasa                                    40
CDC Bokréta                                  39
Saját hirdetés                               39
GDN Ingatlaniroda.                           38
CDC Báthory                                  37
OTP Ingatlanpont Szépvölgyi út               28
Smart Falk Miksa                             25
CDC Keleti károly                            19
Duna House Kossuth Utca                      18
OTP Ingatlanpont Hűvösvölgyi út              18
Városi Ingatlaniroda                         17
OTPIP Kreativ Ingatlaniroda                  16
Central Home                                 12
Smart Ingatlan Podmaniczky utca              12
Duna House József Attila Lakótelep           11
OTPIP Dezseffy utca                           8
H-KONTAKT GROUP KFT.                          5
OTPIP Petneházy utca                          5
Duna House Nemes utca                         4
Smart Ingatlan - József krt                   4
Ingatlan48                                    2
OTPIP Szilágyi Erzsébet fasor                 2
Travnik Otpip                                 1
MAXIINGATLAN                                  1
Duna House Béke tér                           1
Name: agency, dtype: int64

In [72]:
VkerDB.isnull().sum()

agency         1176
date              0
description     907
id                0
price             0
price_sqm         0
region          867
room              0
source            0
sqm               0
url               0
dtype: int64

#### reorganise columns

In [73]:
VkerDB = VkerDB[['id', 'date', 'price', 'price_sqm', 'room', 'sqm','region','description','agency', 'url']]

In [74]:
VkerDB.to_csv('VkerDB.csv', index=False, index_label=None)

In [76]:
sorted(zip(VkerDB['date'].value_counts().index,VkerDB['date'].value_counts()))

[('2018-11-04', 77),
 ('2018-11-11', 70),
 ('2018-11-14', 66),
 ('2018-11-21', 67),
 ('2018-12-04', 74),
 ('2018-12-09', 71),
 ('2018-12-17', 56),
 ('2018-12-25', 61),
 ('2019-01-02', 43),
 ('2019-01-09', 47),
 ('2019-01-20', 62),
 ('2019-01-25', 48),
 ('2019-01-30', 57),
 ('2019-02-02', 66),
 ('2019-02-07', 78),
 ('2019-02-12', 76),
 ('2019-02-25', 54),
 ('2019-03-13', 56),
 ('2019-03-24', 57),
 ('2019-03-29', 56),
 ('2019-04-02', 19),
 ('2019-04-06', 16),
 ('2019-04-10', 13),
 ('2019-04-24', 14),
 ('2019-04-30', 32),
 ('2019-05-03', 13),
 ('2019-05-14', 12),
 ('2019-05-28', 15),
 ('2019-05-31', 15),
 ('2019-06-03', 14),
 ('2019-06-07', 13),
 ('2019-06-24', 14),
 ('2019-06-28', 14),
 ('2019-07-04', 14),
 ('2019-07-07', 14),
 ('2019-07-12', 15),
 ('2019-07-23', 13),
 ('2019-07-26', 13),
 ('2019-07-30', 14),
 ('2019-08-05', 14),
 ('2019-08-14', 16),
 ('2019-08-20', 19),
 ('2019-08-26', 18),
 ('2019-08-30', 16),
 ('2019-09-02', 15),
 ('2019-09-06', 26),
 ('2019-09-14', 30),
 ('2019-09-18', 32),
 ('2019-09-24', 39),
 ('2019-09-30', 39),
 ('2019-10-10', 40),
 ('2019-10-14', 42),
 ('2019-10-21', 59)]